.current-events {
  display: grid;
  row-gap: 40px;

  @include on-tablet {
    row-gap: 48px;
  }

  @include on-desktop {
    row-gap: 56px;
  }

  &__content {
    @include content-padding;

    display: grid;
    row-gap: 60px;
  }
}
