.icon {
  display: flex;
  height: $image-size;
  width: $image-size;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  @include hover(transform, scale(1.05));

  &--menu {
    background-image: url(/src/images/icons/burger-menu-icon.svg);
  }

  &--close {
    background-image: url(/src/images/icons/close-w-icon.svg);
  }

  &--inst {
    background-image: url(/src/images/icons/instagram-letter-logo.svg);
  }

  &--facebook {
    background-image: url(/src/images/icons/facebook-letter-logo.svg);
  }

  &--arrow {
    background-image: url(/src/images/icons/icon_arrow-up.svg);
  }
}
