.scedule {
  display: flex;
  flex-direction: column;
  row-gap: 20px;

  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 141%;
  }

  &__plan {
    min-width: 150px;
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0%;
  }
}
