$c-white: #fff;
$c-gray: #eee;
$c-light-gray: #d7dde3;
$c-dark-gray: #687480;
$c-text: #0f0e08;
$c-green: #1a5a4c;
$c-orange: #f14a27;
$tablet-size: 768px;
$desktop-size: 1280px;
$image-size: 24px;
$button-size: 50px;
$button-big-size: 70px;
